{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tareas del Día</title>
    <link rel="stylesheet" href="{% static 'style/dia.css' %}">
</head>
<body>
    <div id="detalles-dia">
        <a href="{% url 'calendario' %}" class="volver">Volver al calendario</a>
        <h1>Tareas del {{ dia }}/{{ mes }}/{{ año }}</h1>
        <ul>
            {% if tareas %}
                {% for tarea in tareas %}
                <li>{{ tarea.titulo }} - {{ tarea.descripcion }}</li>
                {% endfor %}
            {% else %}
                <p>No hay tareas para este día.</p>
            {% endif %}
        </ul>
    </div>
</body>
</html>
